__pycache__/
.vscode/
data/*
!data/.gitkeep
*.log
*.pth
*.pyc

tensorboard/cifar10/*
!tensorboard/cifar10/.gitkeep

tensorboard/cifar100/*
!tensorboard/cifar100/.gitkeep

tensorboard/office_caltech/*
!tensorboard/office_caltech/.gitkeep

tensorboard/SVHN/*
!tensorboard/SVHN/.gitkeep

visualizations/*
